// colors

$white: #ffffff;
$blue: #2962ff;
$gray-1: #9597ae;
$red: #e73238;
$gray-2: #656989;
$black: #232e34;
$green: #27ac5d;
$gray-3: #d3e0f5;
$gray-4: #d5e3f0;
$gray-5: #d8e5f1;
$gray-6: #f4f4f4;
$gray-7: #e0e0e7;
$light-blue: #cce3ef;

// brand colors

$brand: $blue;
$text-1: $black;
$text-2: $gray-2;
$text-3: $gray-1;
$success: $green;
$error: $red;

// Other variables

$margin-top-header: 10px;
$border-radius: 12px;
$border-card: 1px solid $gray-3;
