// colors

$white: #ffffff;
$blue: #0275b0;
$gray-1: #9597ae;
$red: #e73238;
$gray-2: #656989;
$black: #232e34;
$green: #27ac5d;
$gray-3: #d3e0f5;
$gray-4: #eef3f8;

// brand colors

$brand: $blue;
$text-1: $black;
$text-2: $gray-2;
$text-3: $gray-1;
$success: $green;
$error: $red;

// Other variables

$margin-top-header: 10px;
