.card-box {
  background-color: #ffffff;
  border: 2px solid #cccccc;
  padding: 20px;
}

.profile-edit-header {
  font-size: 32px;
  font-weight: 600;
  color: black;
}

.profile-edit-section-title {
  color: black;
  font-weight: 600;
}

.profile-edit-progress {
  width: 90%;
}

.profile-edit-progress span {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.welcome-message {
  color: black;
}
