@import "../../../../sass/globals.scss";

.share-module-table {
  table-layout: fixed;
  width: 100%;
  background-color: rgb(241, 248, 255);
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border: 1px solid #cccccc;
  margin-top: 10px;
}

.share-module-table td {
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

.share-module-table th {
  padding: 10px;
  padding-bottom: 0px;
  vertical-align: top;
}

.share-module-mid-cell {
  border-right: 2px solid #ececec;
  border-left: 2px solid #ececec;
}

.share-module-textarea {
  height: 59px !important;
  margin-top: -20px;
  margin-bottom: 10px;
}

.share-module-heading {
  text-align: center;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
}

.btn__share-module-share {
  font-size: 16px;
  font-weight: 600;
  height: 35px;
  line-height: 1;
  margin-top: 1px;
  margin-bottom: 15px;
  padding-top: 7px;
  margin-left: auto;
  width: 150px;
}

.share-module-center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: block;
  line-height: 1.1;
}

.invite-module-modal {
  max-width: 826px;

  .modal-header {
    padding: 24px;

    .modal-title {
      padding-left: 0;
    }
  }

  .modal-body {
    padding: 12px 24px;

    .modal-description {
      font-size: 20px;
      line-height: 30px;
      color: $text-1;
      margin-bottom: 14px;
    }

    .row {
      margin-bottom: 16px;
    }

    .textarea {
      background: #ffffff;
      border: 1px solid #d1d1dc;
      box-sizing: border-box;
      border-radius: 8px;
    }

    .invite-module-input {
      background: #ffffff;
      border: 1px solid #d1d1dc;
      box-sizing: border-box;
      border-radius: 28px;
      height: 45px;
      padding: 12px 18px;
    }

    .form-label {
      color: $text-1;
      font-size: 18px;
      line-height: 23px;
      font-weight: bold;
    }
  }

  .modal-footer {
    padding: 24px;
    justify-content: flex-start;

    .form-label {
      color: $text-1;
      font-size: 18px;
      line-height: 23px;
      font-weight: bold;
    }

    p {
      margin-bottom: 16px;
    }

    input {
      background: #ffffff;
      border: 1px solid #d1d1dc;
      box-sizing: border-box;
      height: 45px;
      padding: 12px 18px;
      margin-right: 16px;
    }

    button {
      padding: 12px 30px;
      font-size: 16px;
      line-height: 21px;
      margin: 0;
    }

    .invite-link-wrapper {
      flex-direction: row;
      align-items: center;

      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-end;

        input {
          margin-bottom: 8px;
          margin-right: 0px;
        }
      }
    }
  }

  .btn-groups {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      padding: 12px 30px;
      font-size: 16px;
      line-height: 21px;
      margin: 0;

      @media screen and (max-width: 480px) {
        min-width: inherit;
        padding: 10px 15px;
      }
    }

    button + button {
      margin-left: 20px;

      @media screen and (max-width: 480px) {
        margin-left: 10px;
      }
    }
  }
}

.invite-module-input {
  height: 40px;
}

.invite-modal-title-img {
  width: 30px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
}
