@import "../../../sass/globals.scss";

.section-break {
  float: left;
  margin-right: 20px;
  margin-top: 1px;
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

.sort {
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  font-size: 13px;
}

.sort .custom-select {
  padding: 5px 20px 5px 10px;
  width: initial;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
}

.sort .select-wrapper {
  position: relative;
}

.sort .select-wrapper::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: none;
}

.sort .custom-select:focus {
  border: none;
  box-shadow: none;
}

.sort span {
  color: #888888;
}

.article-label {
  color: #222;
  font-weight: 600;
}

.connected-label {
  background-color: #fff;
  color: $brand;
  border-color: $brand;
  border-width: 2px;
  font-weight: 600;
  min-width: 120px;
  font-size: 16px;
  padding: 6px 12px;
  margin-top: -5px;
  display: inline-block;
}

.connect-button {
  background-color: #fff;
  color: $brand;
  border-color: $brand;
  border-width: 2px;
  font-weight: 600;
  min-width: 120px;
  font-size: 16px;
  padding: 6px 12px;
  margin-top: 0 !important;
  border-radius: 100px;
}

.connected-button {
  background-color: $brand;
  color: $white;
  border-color: $brand;
  border-width: 2px;
  font-weight: 600;
  min-width: 120px;
  font-size: 16px;
  padding: 6px 12px;
  margin-top: 0 !important;
  border-radius: 100px;
}

.connected-button:hover {
  color: $white;
}

.network--badge {
  display: flex;
  flex-direction: column;
}

.network-list-item {
  margin-bottom: 0px;
  box-shadow: none;
  min-height: 134px;
}

.network-list-item .article-img img {
  width: 50px;
  height: 50px;
}

.network-list-item .article-subheadlines {
  max-width: 95%;
}

.network-list-item .article-subheadline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.network-list-item .article-text {
  max-width: 75%;
}

.network--filter {
  .filter--button {
    margin-top: 12px;
  }
}
