@import "../../../sass/globals.scss";

.section-break {
  float: left;
  margin-right: 20px;
  margin-top: 1px;
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

.sort {
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  font-size: 13px;
}

.sort .custom-select {
  padding: 5px 20px 5px 10px;
  width: initial;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
}

.sort .select-wrapper {
  position: relative;
}

.sort .select-wrapper::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: none;
}

.sort .custom-select:focus {
  border: none;
  box-shadow: none;
}

.sort span {
  color: #888888;
}

.article-label {
  color: #222;
  font-weight: 600;
}

.network-list-item {
  margin-bottom: 0px;
  box-shadow: none;
  min-height: 134px;
}

.network-list-item .article-img img {
  width: 50px;
  height: 50px;
}

.network-list-item .article-subheadlines {
  max-width: 95%;
}

.network-list-item .article-subheadline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.network-list-item .article-text {
  max-width: 95%;
}

.network-feed--button {
  border-radius: 10px;
  border: 1px solid $gray-4;
  font-weight: 500;
  color: $brand;
  width: 100%;
  &:hover,
  &:focus,
  &:active {
    border-radius: 10px;
    border: 1px solid $gray-4;
    font-weight: 500;
    color: $brand;
  }
}

@media (max-width: 768px) {
  .network--share-content,
  .network--popular-topics {
    display: none;
  }
  .network--simple-top-banner,
  .network--filter-wrapper,
  .network-list-item {
    margin: 10px 17px !important;
  }
  .network--simple-top-banner {
    .simple-top-banner {
      margin: 0 !important;
    }
  }
  .filter-btn-group {
    padding-bottom: 10px;
  }
}
