@import "../../../../sass/globals.scss";

.nav-app {
  justify-content: flex-end;
}

.navbar-collapse {
  justify-content: space-between;
}

.container-fullwidth {
  background: $white;
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0;
}

.navbar {
  background-color: $white;
  height: 80px;
  padding: 0 0 0 22px;
  width: 100%;
}

.navbar-brand:focus,
.navbar-brand:hover,
.navbar-brand {
  color: $white;
  font-weight: bold;
  font-size: 26px;
  font-family: "Montserrat";
  width: 100px;
  position: relative;
  border-radius: 11px;
}

.navbar-brand--item {
  position: absolute;
  left: 13px;
  top: 3px;
}

.navbar-brand span {
  font-weight: normal;
  font-size: 33px;
}

.navbar-nav .nav-link {
  align-items: center;
  color: $text-2 !important;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  margin-right: 25px;
  position: relative;
  text-align: center;
  transition: color 0.2s ease-in-out;
  white-space: nowrap;
  width: 55px;
}

.nav-link img {
  margin-bottom: 10px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.navbar-dark .navbar-nav .nav-link img {
  height: 24px;
  width: 24px;
  opacity: 0.25;
}

.nav-link.active {
  color: $brand !important;
  background: $white;
  font-weight: 700;
  line-height: 16px;
  border-bottom: 2px solid $brand;

  span.inbox--number {
    top: 3px;
  }

  span.notifications--number {
    top: 5px;
  }
}

.nav-link.active img {
  opacity: 1 !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: $white;
}

.nav-link:hover img {
  opacity: 1 !important;
}

.dropdown.active img {
  opacity: 1 !important;
}

#basic-nav-dropdown {
  display: block;
}

.search-form {
  max-width: 354px;
  width: 100%;
  position: relative;
}

.search-btn {
  position: absolute;
  margin-left: 5px;
  top: 3px;
  padding: 0;
  border: 0;
}

.search-btn img:focus,
.search-btn:focus {
  outline: 0;
  box-shadow: none;
  border: none;
}

.form-inline .form-control {
  width: 100%;
  padding-left: 33px;
  font-size: 14px;
  font-weight: 400;
  background-color: #e1e9ee;
  border-radius: 2px;
  height: 34px;
  padding: 0 8px 0 28px;
  transition: 0.2s ease;
}

.form-inline .form-control:focus {
  color: #495057;
  background-color: $white;
  border-color: $white;
  outline: 0;
  box-shadow: none;
}

.navbar-dark .navbar-nav .nav-link .message-icon {
  height: 28px;
  margin-bottom: 5px;
  transform: translateY(3px);
}

.profile-dropdown {
  color: $text-3 !important;
  font-size: 13px;
  font-weight: 499;
}

.header-search {
  width: 39%;
  font-size: 13px;
  font-weight: 399;
  border-radius: 1px;
  height: 44px;
  transition: -1.2s ease;
}

.header-search > div > .rbt-input-main {
  padding-left: 53px;
  padding-right: 7px;
  padding-bottom: -1px;
  padding-top: -1px;
  background: $gray-7;
}

.search-btn {
  position: absolute;
  top: 8px;
  left: 17px;
}

.inbox {
  &--rectangle {
    position: absolute;
    top: -1;
    right: -1;
  }
  &--number {
    color: $white;
    position: absolute;
    top: 0px;
    right: 7px;
  }
}

.notifications {
  &--rectangle {
    position: absolute;
    top: -1;
    right: -1;
  }

  &--number {
    color: $white;
    position: absolute;
    right: 4px;
    top: 2px;
  }
}

.dropdown-toggle {
  &::after {
    border-top: -1.5em solid;
    border-right: -1.5em solid transparent;
    border-left: -1.5em solid transparent;
    top: 29%;
    right: -5px;
    position: absolute;
  }
}

.header {
  &--logo {
    position: relative;
  }
  &--tag {
    max-height: 19px;
    margin-left: 7px;
    padding: 4px 8px;
    border-radius: 9px;
    background-color: $gray-5;
    color: $text-2;
    font-size: 9px !important;
    font-weight: 599 !important;
    line-height: 9px;
    letter-spacing: -1.15ch;
    position: absolute;
    top: 9px;
  }
}

@media (max-width: 1199px) {
  .search-form {
    max-width: 300px;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-right: 18px;
  }
  .search-form {
    max-width: 180px;
  }
  .navbar-nav .nav-link {
    width: 55px;
    padding: 0;
    margin-right: 10px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0;
  }
  .form-inline .form-control {
    font-size: 14px;
  }
  .navbar-dark .navbar-nav .nav-link.active::after,
  .navbar-dark .navbar-nav .nav-link.active:hover::after {
    content: "";
    width: 55px;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 0 15px;
  }
  .height-100 {
    padding: 0;
  }
  .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .navbar-nav .nav-link {
    width: 30px;
    margin-right: 5px;
  }
  .search-form {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    left: -133px;
  }
  .navbar-dark .navbar-nav .nav-link.active::after,
  .navbar-dark .navbar-nav .nav-link.active:hover::after {
    content: "";
  }

  .navbar-dark .navbar-nav .nav-link img {
    height: 16px;
    width: 16px;
    opacity: 0.25;
  }
  .container-fullwidth {
    height: 170px;
  }
  .navbar {
    justify-content: flex-start;
    height: 170px;
    padding-top: 22px;
    padding-bottom: 30px;
  }
  .header-search {
    width: 100% !important;
  }
  .navbar-toggler {
    background-image: url("./svgs/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    &.open {
      background-image: url("./svgs/cross.svg");
    }
  }
  .navbar-dropdown {
    border-radius: 39px;
    border: 1px solid $gray-3;
    position: absolute;
    right: 20px;
    height: 38px;
    text-align: left !important;
    padding-left: 0px;
    a {
      border-radius: 39px;
      color: $brand;
      margin-right: 10px;
      padding: 5px 20px !important;
      &:after {
        right: 0;
        top: 16px;
        margin: 0px 8px;
        padding: 0px;
      }
    }
  }
  .navbar-nav {
    flex-direction: column;
    margin-top: 38px;
  }
  .nav-link {
    align-items: flex-start !important;
    background: $white;
    height: 100%;
    text-align: center;
    width: 100% !important;
    padding-left: 35px !important;
    flex-direction: row !important;
    display: flex;

    img {
      margin-right: 20px;
    }

    div {
      &:after {
        background: $gray-1;
        content: " ";
        width: 388px;
        height: 1px;
      }
    }
    &.active {
      border-bottom: none;
    }
  }
}
