@import "../../../../sass/globals.scss";

.entities-wrapper {
  border-top: 1px solid #d3e0f5;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
}

.entities-wrapper.connections-wrapper {
  border: none;
  padding-left: 32px;
}

.connections-wrapper::after {
  content: "";
  width: calc(100% - 31px);
  border-bottom: solid 1px #c9ced1;
  position: absolute;
  left: 32px;
  top: 5px;
  z-index: 1;
}

.entities {
  &--divider {
    border-top: $border-card;
    width: 100%;
    left: 0;
    bottom: 60px;
    margin-top: 2px;
  }
  &-showmore--button {
    text-align: center;
    bottom: 15px;
    left: 115px;
    margin-top: 12px;
    > button {
      color: $brand;
    }
  }
}
