@import "../../../../sass/globals.scss";

.avatar-wrapper {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.avatar-thumb {
  margin-right: 14px;
}

.avatar-content-heading {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: $text-1;
}

.avatar-content-subheading {
  font-size: 12px;
  line-height: 15.6px;
  color: $text-3;
}

.avatar-content-text {
  color: $text-1;
  font-size: 14px;
  line-height: 18px;
}
