.modal {
  font-size: 14px;
}

.modal-title {
  color: black;
  font-size: 18px;
  padding-left: 15px;
}

.modal-section-title {
  color: black;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.modal-section-title-content {
  margin: 10px 0;
  width: 100%;
}

.modal-section-separator {
  border-top: 1px solid #cccccc;
  padding-top: 10px;
}

.modal-section-body-left-content {
  min-height: 70%;
  margin-top: 10px;
  width: 100%;
}

.modal-section-body-right-content {
  margin-top: 10px;
  padding-top: 10px;
}

.modal-section-checkbox,
.modal-section-checkbox-content,
.modal-section-radio-content {
  margin-right: 10px;
}

.modal-section-body-image {
  height: 20px;
  width: 20px;
}

.modal-section-body-content {
  color: gray;
  font-weight: bold;
  padding-left: 5px;
}

.modal-cancel-button {
  border-width: 1px !important;
  font-size: 0.875rem !important;
  padding: 0.25rem 0.5rem !important;
}

.modal-person-section,
.modal-person-section-role {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}
.modal-person-section-input {
  width: 94%;
}

.modal-person-section-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-person.hidden {
  opacity: 0;
  display: none;
}

.modal-image-wrapper.hidden {
  opacity: 0;
  display: none;
}

.modal-video-wrapper.hidden {
  opacity: 0;
  display: none;
}
