@import "../../../sass/globals.scss";

.btn_followed {
  background-color: $brand;
  color: $white;
}

.btn_following,
.btn_followed {
  padding: 6px 12px;
  margin-right: 0 !important;
}

.topic-wrapper {
  background-color: #ffffff;
  border-radius: $border-radius;
  border: $border-card;
}

.topic-link {
  font-weight: 500;
  font-size: 17px;
  display: block;
  line-height: 1.2;
  color: $brand;
}

.topic-description {
  font-size: 15px;
  line-height: 1.4;
  display: block;
  color: $text-3;
}

.border-radius-15 {
  border-radius: 15px;
}

.sharp-symbol {
  font-size: 50px;
  color: $brand;
}

@media (max-width: 768px) {
  .topics--header {
    margin-bottom: 110px;
    &.open {
      margin-bottom: 500px;
    }
  }
}
