.question-answer-section-wrapper {
  justify-content: space-between;
}

.question-answer-section {
  margin-top: 20px;
}

.question-answer-section-replies {
  margin-top: 20px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
}

.question-related-section {
  background: white;
  border: 1px solid #cccccc;
  height: 250px;
  padding: 10px 20px;
  margin-top: 22px;
  margin-right: 15px;
}

.question-related-section-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.question-related-section-item {
  color: black;
}

.question-your-answer-section {
  border: 1px solid #cccccc;
  padding: 10px;
  background: white;
  font-size: 20px;
}

.question-article-comment {
  margin-left: 80px;
}

.article-engagement-buttons-with-margin {
  display: flex;
  margin-left: 50px;
}

.question-comments-section {
  padding: 20px;
  margin-left: 60px;
}

.question-answers {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}
