.engagement-buttons {
  display: flex;
}

.engagement-buttons-button {
  margin-right: 10px;
  opacity: 0.5;
}

.engagement-buttons-button.checked {
  opacity: 1;
}

.engagement-buttons-image {
  padding-right: 5px;
  width: 20px;
  height: 20px;
}
