.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  border-radius: 6px;
  margin-bottom: 2em;
  background: #fefefe;
  min-height: 165px;
  position: relative;
  padding-bottom: 38px;
  font-size: 16px;
  color: #495057;

  .editor-wrapper {
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
    overflow-y: auto;
    max-height: 120px;

    .editor-toolbar {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 4px;

      & > div {
        border: none;
        border-top: 1px solid #ddd;
        border-radius: 0;
        box-shadow: none;
      }
    }

    ul {
      list-style: initial;
      padding-left: 40px;
    }

    & > div:last-child[id^="mentions-list-"] {
      & > div {
        display: flex;
        align-items: center;
      }
    }

    &.editor-wrapper-add-mention {
      & > div:last-child[id^="mentions-list-"] {
        padding-bottom: 0;

        & > div:last-child,
        & > div:nth-last-child(2) {
          border-top: 1px solid #ced4da;
          padding-top: 10px;
          color: #2962ff;
          font-size: 16px;
          line-height: 18px;
          justify-content: center;
          padding-left: 0;
          padding-bottom: 8px;
        }
      }
    }
  }
}
