.comment-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 15px;
}

.comment-input {
  width: 80%;
}

.comment-button {
  opacity: 0;
}

.comment-button.show {
  opacity: 1;
}
.comment-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
