@import "../../sass/globals.scss";

.login {
  &--logo {
    text-align: center;
    display: block;
    margin-bottom: 36px;
  }
  &--form {
    padding: 30px 38px 28px;
  }
  &--title {
    color: $text-1;
    font-size: 20px;
    margin-bottom: 27px;
    text-align: center;
  }
  &--linkedIn {
    border-radius: 23px;
    padding-left: 12px 35px;
    font-size: 15px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-left: 35px;
      margin-top: 7px;
    }
  }
  &--disclaimer {
    color: $text-2;
    text-align: center;
    font-size: 12px;
    width: 200px;
    margin: 15px auto 40px;
    line-height: 1.4;
  }
  &--question {
    font-size: 15px;
    text-align: center;
    display: block;
    color: $text-2;
    line-height: 1.4;
  }
  &--contact-email {
    color: $brand;
  }
  &--separator {
    margin-top: 26px;
    margin-bottom: 14px;
    border-bottom: 1px solid #e0e0e7;
    width: 100%;
    position: absolute;
    max-width: 420px;
    left: 0;
  }
  &--signup {
    margin-top: 40px;
    text-align: center;
  }
  &--footer {
    margin-top: 460px;
  }
  &--linkedIn,
  &--login {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .login--form {
    border-radius: 20px;
  }
}

.mt100 {
  margin-top: 100px;

  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
}
