@import "./sass/globals.scss";
@font-face {
  font-family: "DM Sans";
  src: local("DMSans-Regular"),
    url("/font/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  src: local("DMSans-Bold"), url("/font/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "DM Sans";
  src: local("DMSans-BoldItalic"),
    url("/font/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: local("DMSans-Italic"), url("/font/DMSans-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: local("DMSans-Meidum"), url("/font/DMSans-Meidum.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans";
  src: local("DMSans-MediumItalic"),
    url("/font/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

body {
  margin: 0;
  font-family: DM Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $gray-6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
