@import "../../../../sass/globals.scss";

.simple-top-banner {
  &--img {
    border-radius: 12px;
    margin-right: 23.5px;
    float: left;
  }

  &--text {
    color: $text-1;
  }

  &--wrapper {
    width: 100%;
    min-height: 164px;
    padding: 16px ​0 0 16px;
  }
}
