@import "../../../../sass/globals.scss";

.card {
  &--wrapper {
    border-radius: $border-radius;
    border: $border-card;
    background: $white;
  }
  &--title {
    border-bottom: $border-card;
    color: $text-1;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    padding: 16px 0 23px 24px;
  }
  &--children {
    padding-top: 10px;
  }
}
